# ======================================================
# Lazarus / FreePascal
# ======================================================

# Compilados
*.exe
*.dll
*.so
*.dylib
*.o
*.ppu
*.compiled
*.or

# Diretórios de build
/lib/
/backup/
/bak/
**/lib/**
**/backup/**
**/bak/**
**/build/**
**/dist/**
**/bin/**

# Arquivos gerados pelo Lazarus
*.lps
*.lrs
*.lrt
*.lpi~
*.lps~
*.lfm~
*.pas~
*.pp~
*.ppu~
*.or~

# Sessão / estado do IDE
*.lps
*.lpi
*.lpi~
*.lp*
